<div class="card-header border-0">
    <div class="d-flex justify-content-between">
        <h3 class="card-title">Hires by Years</h3>
        <a href="javascript:void(0);"></a>
    </div>
</div>

<div class="card-body">

    <div class="d-flex">
        <p class="d-flex flex-column">
        <span class="text-bold text-lg">{{cliente_monto|safe}}</span>
        <span></span>
        </p>
        <p class="ml-auto d-flex flex-column text-right">
        <span class="text-danger">
            <!-- <i class="fas fa-arrow-down"></i> -->
        </span>
        <span class="text-muted"></span>
        </p>
    </div>
    <!-- /.d-flex -->

    <!-- GRAFICO -->

    <div class="position-relative mb-4">

        <div id="container"></div>

        <script type="application/javascript">

            Highcharts.chart('container', {

                title: {
                    text: ' ',
                    align: 'left'
                },
            
                subtitle: {
                    text: ' ',
                    align: 'left'
                },
            
                yAxis: {
                    title: {
                        text: 'Purchasing'
                    }
                },
            
                xAxis: {
                    accessibility: {
                        rangeDescription: {{cliente_data_rango|stringformat:"a"|safe}}
                    }
                },
            
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },
            
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: {{cliente_data_inicio|safe}}
                    }
                },
                series: [{
                    name: {{cliente_uno_nombre|stringformat:"a"|safe}},
                    data: {{cliente_uno_datos|safe}}
                }, {
                    name: {{cliente_dos_nombre|stringformat:"a"|safe}},
                    data: {{cliente_dos_datos|safe}}
                }, {
                    name: {{cliente_tres_nombre|stringformat:"a"|safe}},
                    data: {{cliente_tres_datos|safe}}
                }, {
                    name: {{cliente_cuatro_nombre|stringformat:"a"|safe}},
                    data: {{cliente_cuatro_datos|safe}}
                }, {
                    name: {{cliente_cinco_nombre|stringformat:"a"|safe}},
                    data: {{cliente_cinco_datos|safe}}
                }],

            
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            
            });

        </script>

    </div>
</div>