{% extends 'index.html' %} {% load static %} {% block usuario %}

<a href="#" class="d-block">Danilo Devia</a>

{% endblock usuario %} {% block contenido %}

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <!--Primer columna-->

        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Bien Hecho!</h4>
          <p>La respuesta correcta es {{dato.verbo_traducido}}</p>
          <hr />
          <p class="mb-0">Otras respuestas correctas son:</p>
          <ul class="list-group col-md-6">
            {% for palabra in significado %}
            <li class="list-group-item list-group-item-light">{{palabra}}</li>
            {% endfor %}
          </ul>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/ingles/juego" class="nav-link active">
              <button type="button" class="btn btn-light">Continuar</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock contenido %}
